<h1>Hello <%= name %></h1>
<h2>You are a <%= status %></h2>
<h2>You are currently registered for:</h2>
<p>1. <%= courseone %></p>
<p>2. <%= coursetwo %></p>
<p>3. <%= coursethree %></p>
<p>4. <%= coursefour %></p>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>